div#registrese{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

div#loginexistente{
    text-align: center;
    margin-bottom: 2em;
}

body{
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(#8c8c8c, #e6e6e6);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 90vh;
}

main{
    font-family: 'Nunito', sans-serif;
    background-color: white;
    border-radius: 10px;
    font-size: 1em;
    width: 30%;
    margin-left: 34%;
    margin-top: 10%;
    padding-top: 4em;
    padding-bottom: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

form{
    text-align: left;
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: max-content;
    gap: 0.5em;
    align-items: center;
}

input, select{
    height: 2em;
    border: 1px solid #757575;
    box-sizing: border-box ;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    height: 2em;
}

input#submit{
    margin-top: 2rem;
    text-align: center;
    width: 140px;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 15px;
    height: fit-content;
    cursor: pointer; 
}

main a{
    text-align: center;
    margin-top: 1em;
    color: #b3b3b3;
}