@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    margin: 0px;
    font-family: 'Nunito', 'sans-serif';
}

body {
    height: 100vh;
}

header{
    padding: 10px;
    width: 100%;
    /* height: 50px; */
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav ul{
    display: flex;
    align-items: center;
}

.menu-nav ul li{
    list-style: none;
}

.menu-nav ul li a{
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

/* .menu-nav ul li a:hover{
    background-color: rgba(211, 202, 202, 0.5);
} */

#login-botao a{
    border: 2px solid #34C76F;
    border-radius: 5px;
    padding: 5px;
    width: 60px;
    color: #34C76F;
    transition: .3s ease;
    text-align: center;
}

#cadastro-botao a{
    background-color: #34C76F;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 7px;
    width: 130px;
    transition: .3s ease;
    text-align: center;
}

#login-botao a:hover{
    background-color: #fff;
}

#cadastro-botao a:hover, #login-botao a:hover{
    transform: scale(1.03);
}

#perfil > a {
    display: flex;
    padding: 10px;
    border: 2px solid #34C76F;
    border-radius: 5px;
    color: #34C76F;
    position: relative;
    align-items: center;
    justify-content: center;
}

#perfil{
    position: relative;
}

#perfil > a i {
    font-size: 25px;
    transition: .3s ease;
}

#perfil > a:hover i {
    transform: rotate(180deg);
}

#perfil:hover > ul {
    opacity: 1;
    pointer-events: all;
}

#perfil ul {
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    right: 0;
    padding: 10px;
    padding: 0;
    border: 1px solid #ddd;
    width: fit-content;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0,0,0.2);
}

.section1{
    position: relative;
    height: 450px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

#img-section1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 h3{
    position: absolute;
    color: #7DFEB0;
    top: 14%;
    left: 5%;
}

.section1 span{
    position: absolute;
    color: #fff;
    top: 20%;
    left: 5%;
    font-size: 30px;
}

.section1 p{
    position: absolute;
    color: #fff;
    top: 30%;
    left: 5%;
}

.section1 button{
    top: 40%;
    left: 5%;
}

.saiba-mais{
    position: absolute;
    color: #fff;
    background-color: #B289E2;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
}

.section2{
    position: relative;
    width: 500px;
    background-color: #34C76F;
}