@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', 'sans-serif';
    background-color:#34C76F;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: white;
}

.botao-menu{
    color: black;
}

#menu-h{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#menu-h ul {
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}


#menu-h ul li a:hover {
    background-color: #34C76F;
}

#logo{
    display: inline-block;
}

.container{
    max-width: 1800px;
    margin: 0 auto;
}

#botao-entrar{
    background-color: none;
    border: solid;
    color: #34C76F;
    border-radius: 10px;
    padding: 10px 20px !important; 
}

#botao-cadastrar{
    background-color: #34C76F;
    color: white;
    border: solid;
    border-radius: 10px;
    padding: 12px !important; 
}

#botao-entrar:hover{
    background-color: aliceblue !important;
}

.container-banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 60px;
    max-width: 1800px;
    margin: 0 auto;
}