@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


body{
    font-family: 'Nunito', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F5F5F5;
}

h1{
    font-size: 30px;
    margin: 0px;
    color: #727272;
    margin-bottom: 50px;
}
  
h1::after{
    content: "";
    display: block;
    position: absolute;
    margin-top: -8px;
    height: 4px;
    width: 33px;
    background-color: #34C76F;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    background-color: white;
}

.input-button{
    position: relative;
    margin-bottom: 50px;
}

input{
    display: block;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 2px solid #727272;
    width: 100%;
    z-index: 2;
}

label{
    display: block;
    color: #727272;
    left: 30px;
    position: absolute;
    font-weight: bold;
    transition: 0.3s ease;
    bottom: 2px;
    z-index: 1;
    pointer-events: none;
}

.icon{
    position: absolute;
    bottom: 6px;
    transition: .3s ease;
}

a{
    text-decoration: none;
    color: #34C76F;
}

.grid-imagem{
    position: relative;
}

p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

#img-fundo{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

form{
    padding: 30px 50px;
}

#enviar{
    display: block;
    border: none;
    outline: none;
    background-color: #34C76F;
    color: white;
    padding: 10px;
    width: 200px;
    font-size: 15px;
    margin: 25px 45px;
    font-weight: bold;
    transition: .3s ease;
}

#enviar:hover{
    cursor: pointer;
    background-color: #25a558;
    transform: scale(1.05);
}

#sem-cadastro{
    font-size: 14px;
    margin: 50px;
}
input:focus ~ label,
input:valid ~ label{
    left: 20px;
}
input:focus ~ label,
input:focus ~ img,
input:valid ~ label,
input:valid ~ img{
    bottom: 22px;
    transform: scale(.8);
    transition: .3s ease;
}