@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    margin: 0px;
}

body {
    font-family: 'Nunito', 'sans-serif';
    height: 100vh;
}

header{
    width: 100%;
    height: 80px;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav ul{
    display: flex;
    align-items: center;
}

.menu-nav ul li{
    list-style: none;
}

.menu-nav ul li a{
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

#login-botao a{
    border: 2px solid #34C76F;
    border-radius: 5px;
    color: #34C76F;
}

#cadastro-botao a{
    background-color: #34C76F;
    color: white;
    border-radius: 5px;
}