<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/assets/img/grape.png">
    <link rel="stylesheet" href="cadastrousuario.css">
    <title>GrapeJobs</title>
</head>
<body>
    <main>
        <div id="registrese">
            <span>Registre-se</span>
        </div>

        <div id="loginexistente">
            <a href="login.html">Você ja tem um login? Clique aqui!</a>
        </div>

        <form action="">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha">
            <label for="nascimento">Data de nascimento:</label>
            <input type="date" name="nascimento" id="nascimento">

            <a href="cadastroloja.html" id="linklogincomerciante">Cadastrar-se como comerciante!</a>

            <input type="submit" value="Cadastrar-se" id="submit">
        </form>
    </main>
</body>
</html>