@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

div#entrarnaconta{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

div#naotemconta{
    text-align: center;
    margin-bottom: 2em;
}

body{
    background: rgb(136,92,179);
    background: linear-gradient(0deg, rgba(136,92,179,1) 0%, rgba(103,67,142,1) 55%);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

main{
    font-family: "nunito";
    background-color: white;
    border-radius: 10px;
    font-size: 1em;
    width: 30%;
    margin-left: 34%;
    margin-top: 10%;
    padding-top: 4em;
    padding-bottom: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

form{
    text-align: left;
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: max-content; 
    gap: 0.5em;
    align-items: center;
}

input, select{
    height: 2em;
    border: 1px solid #757575;
    box-sizing: border-box ;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}

input#submit{
    margin-top: 2rem;
    text-align: center;
    width: 140px;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 15px;
    height: fit-content;
    cursor: pointer;
}

main a{
    text-align: center;
    margin-top: 1em;
    color: #b3b3b3;
}