<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="">
            <h1>Login</h1>
            <div class="input-button">
                <img src="../../assets/img/Vector.svg" alt="" class="icon">
                <input type="text" id="user" required>
                <label for="user">Usuário</label>

            </div>

            <div class="input-button">
                <label for="senha">Senha</label>
                <img src="../../assets/img/lock-solid 1.svg" alt="" class="icon" id="icon-senha">
                <input type="password" id="password" required>
            </div>

            <a href="/" id="sem-cadastro">Não tem login? Cadastre-se já!</a>
            <button type="submit" id="enviar">Entrar</button>
        </form>
        <div class="grid-imagem">
            <img src="../../assets/img/imagem-teste.jpg" alt="#" id="img-fundo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis facilisis diam, ac finibus lacus. Aliquam ullamcorper felis ut malesuada scelerisque.</p>
        </div>
    </div>
</body>
</html>