<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/CSS/style-login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="/">
            <h1>Login</h1>
            <div class="input-button">
                <input type="text" id="user" maxlength="50" required>
                <img src="../../assets/img/icon-user.svg" alt="" class="icon">
                <label for="user">Usuário</label>
            </div>

            <div class="input-button">
                <input type="password" id="password" maxlength="32" required>
                <img src="../../assets/img/icon-password.svg" alt="" class="icon" id="icon-senha">
                <label for="senha">Senha</label>
            </div>

            <a href="cadastro.html" id="sem-cadastro">Não tem login? Cadastre-se já!</a>
            <button type="submit" id="enviar">Entrar</button>
        </form>
        <div class="grid-imagem">
            <img src="../../assets/img/images 1.svg" alt="#" id="img-fundo">
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra!</p>
        </div>
    </div>
</body>
</html>