<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="">
            <h1>Login</h1>
            <label for="user">Usuário</label>
            <input type="text" id="user">

            <label for="senha">Senha</label>
            <input type="password" id="password">

            <a href="/">Não tem login? Cadastre-se já!</a>
            <button type="submit" id="enviar">Login</button>
        </form>
        <div class="imagem">
            <img src="../../assets/img/imagem-teste.jpg" alt="#">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis facilisis diam, ac finibus lacus. Aliquam ullamcorper felis ut malesuada scelerisque.</p>
        </div>
    </div>
</body>
</html>