<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/CSS/style_home.css">
    <link rel="shortcut icon" href="../../assets/img/grape.png" type="image/x-icon">
    <title>Grape</title>
</head>
<body>
    <header>
        <img src="../../assets/img/logo.svg" alt="Logo da página">
        <nav class="menu-nav">
            <ul>
                <li><a href="page-home.html">Home</a></li>
                <li><a href="/">Lojas</a></li>
                <li><a href="/">Categorias</a></li>
                <li><a href="/">Ajuda</a></li>
                <li id="login-botao"><a href="page-login_cliente.php">Login</a></li>
                <li id="cadastro-botao"><a href="/">Cadastrar Loja</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="../../assets/img/img-fundo-section.svg" alt="">
    </section>
</body>
</html>