<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../assets/img/grape.png" type="image/x-icon">
    <title>Página Home</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav id="menu-h">
                <img src="../../assets/img/logo.svg" alt="Logo grape" id="logo">
                <ul>
                    <li><a href="" class="menu"><strong>Home</strong></a></li>
                    <li><a href="" class="menu"><strong>Lojas</strong></a></li>
                    <li><a href="#" class="menu"><strong>Categorias</strong></a></li>
                    <li><a href="#" class="menu"><strong>Ajuda</strong></a></li>
                    <li><a href="login.html" id="botao-entrar"><strong>Entrar</strong></a></li>
                    <li><a href="cadastroloja.html" id="botao-cadastrar"><strong>Cadastrar Loja</strong></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="banner">
        <div id="container-banner">
            <div id="conteudo">
                <p id="texto-banner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a viverra tellus. Aliquam at metus
                    rhoncus nibh fermentum hendrerit vel ornare erat. Duis cursus semper mi, ut ultricies nulla iaculis
                    laoreet. Fusce posuere risus id odio volutpat mattis. Sed vehicula lectus ut urna ullamcorper
                    placerat.</p>
            </div>
            <div id="imagem-banner">
            </div>
        </div>
    </section>
</body>

</html>