<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style_home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../Imagens/favicon.png" type="image/x-icon">
    <title>Página Home</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav id="menu-h">
                <img src="../Imagens/logo.svg" alt="Logo grape" id="logo">
                <ul>
                    <li><a href="" class="menu"><b>Home</b></a></li>
                    <li><a href="" class="menu"><b>Lojas</b></a></li>
                    <li><a href="#" class="menu"><b>Categorias</b></a></li>
                    <li><a href="#" class="menu"><b>Ajuda</b></a></li>
                    <li><a href="" id="botao-entrar"><b>Entrar</b></a></li>
                    <li><a href="" id="botao-cadastrar"><b>Cadastrar Loja</b></a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>